/modding_resources
/Saved
/arma_cwa.code-workspace
/UserInfo.cfg
/face.jpg
/missions/MAP_Rucksack_BW_W.Intro
/missions/MAP_Rucksack_RadioExample.Intro
/missions/MERCS_Safe.Intro
/missions/Rabbit Season.abel